@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  margin: 0 auto;
  font-family: "Inter";
}

/* reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #f1f5f5;
  color: #000;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  padding: 10px 0;
  margin: 0px auto 0;
  line-height: normal;
}
.blue {
  background-color: #2654e4;
}
.col-bl {
  color: #2654e4;
}
.brown {
  background-color: #e7793c;
}
.pink {
  background-color: #ea6868;
}

ul {
  list-style: none;
}

.navMenu {
  color: #999;
  font-family: "Inter";
  font-size: 16px;
  width: 30%;
  z-index: 99;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.gap-20 {
  gap: 40px;
}
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

main {
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-header {
  color: #000;
  /* font-family: "Ojuju"; */
  font-family: "Satisfy", cursive;
  font-size: 40px;
  font-style: normal;
  color: #2654e4;
  font-weight: 400;
  line-height: normal;
}

.logo-header-mini {
  color: #000;

  /* font-family: "Ojuju"; */
  font-family: "Satisfy", cursive;
  font-size: 29px;
  font-style: normal;
  color: #2654e4;
  font-weight: 400;
  line-height: normal;
}

.logo-header_sub-mini {
  color: #000;
  font-family: "Inter";
  font-size: 9px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.logo-header_sub {
  color: #000;
  font-family: "Inter";
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.logistics-table {
  display: flex;
  margin: 0 auto;
  padding: 40px 56px;
  max-width: 1000px;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 48px;
  border-radius: 24px;
  border: 1px solid #dcdcdc;
  background: #fff;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
}

.snacks-cont {
  width: 100%;
  overflow-x: scroll;
}
.snacks_flex {
  display: flex;
}
.snacks {
  border: 3px solid;
  margin: 20px;
}
.snacks_img {
  width: 200px;
}
.snacks_hero-title {
  padding-bottom: 2px;
  font-size: 20px;
}

.error-msg {
  width: 100%;
  padding: 151px;
  text-align: center;
  font-size: 24px;

  text-transform: capitalize;
}

.select-flight-btn {
  width: 100%;
  background-color: #2654e4;
  color: #fff;
  border-radius: 8px;
  border: 1px solid;
  min-width: 200px;
  padding: 10px 20px;
}

.bestTravel {
  border-radius: 268px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.26);
  width: 280px;
  height: 400px;
  border: 1px solid green;
  margin: 20px;
  overflow: hidden;
}

.month-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.image-mth-cont {
  overflow: hidden;
  border-radius: 268px 268px 0 0;
  width: 100%;
  max-width: 280px;

  max-height: 300px;
}

.bestTravel h5 {
  color: #000;

  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
}

.loader {
  width: 100px;
  border: 1px solid;
  margin: 0 auto;
}
.bestTravel p {
  color: #808080;

  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.flight-class-levels {
  display: flex;
  padding: 12px;
  align-items: center;
  /* gap: 38px; */
  /* width: 100%; */
  min-width: 200px;
  background-color: #f5f5f5;
  border-radius: 200px;
}
.choosingFlight {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: white;
  object-fit: cover;
  object-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./assets/hiking.jpg);
}

.flex-all-the-way {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chooseFlight-table {
  display: flex;
  margin: 0 auto;
  padding: 40px 56px;
  max-width: 1000px;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 48px;
  color: #fff;

  background: linear-gradient(
    135deg,
    rgba(73, 153, 228, 0.5),
    rgba(73, 153, 228, 0.5)
  );
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(73, 153, 228, 0.5);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

  /* background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba (255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); */
}

.search-cont {
  background-color: #2654e4;
  border-radius: 69px;
  height: 72px;
  align-items: center;
  justify-content: center;
  width: 56px;
  display: flex;
}

.chooseFlight-table li,
.chooseFlight-table select {
  color: #000;
  /* background: linear-gradient(
    135deg,
    rgba(38, 84, 228, 0.4),
    rgba(38, 84, 228, 0.4)
  ); */
  background: #fff;
}

.selected {
  border: 1px solid transparent;
  border-radius: 200px;
  color: #fff;
}
.logistics-table li {
  padding: 8px;
}

.chooseFlight-table li {
  padding: 8px;
}

.flight-location {
  display: flex;
  align-items: center;

  color: black;
}
.flight-location li {
  display: flex;
  align-items: center;
  padding: 0 11px;
  justify-content: space-between;
  gap: 10px;
}
.perks {
  cursor: pointer;
}

.flight-location li {
  flex-grow: 1;
}
.flight-location p {
  font-size: 14px;
  color: #808080;
}
footer {
  background-color: #1d2739;
  color: #fff;
  border-radius: 20px;
  background: var(--Grey-900, #101928);
  padding: 56px 40px;
  margin: 50px auto;
  text-align: center;
}
.social-m-icons {
  display: flex;
}

.flex2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.social-m-icons li {
  padding: 0 8px;
}
.footer-last-elem {
  margin: 0;
  padding: 40px 0 0;
}

footer .p2 {
  color: var(--Grey-75, #f7f9fc);
  text-align: center;
  width: 300px;
  margin: 0 auto;

  /* Paragraph/Medium/Regular */

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 23.2px */
}
footer h5 {
  color: var(--Shade-White, #fff);
  text-align: center;
  font-size: 28px;
  font-style: normal;
  padding: 8px 0 12px;
  font-weight: 700;
  line-height: 120%; /* 33.6px */
  letter-spacing: -0.56px;
}

small {
  color: grey;
}

footer button {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid transparent;
  background: #2654e4;
  margin: 30px auto 0px;
}

footer .p1 {
  color: var(--Grey-75, #f7f9fc);
  text-align: center;
  font-feature-settings: "cv04" on, "cv03" on, "cv01" on;

  /* Paragraph/Caption/Small */

  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 14.4px */
  letter-spacing: 1.44px;
  text-transform: uppercase;
}
ul {
  padding: 0;
  margin: 0;
}
.hide {
  display: block;
}

.white {
  color: #fff;
}

.travel-of-the-mth {
  margin: 100px auto;
  font-size: 64px;
}

.travel-of-the-mth ul {
  margin: 64px auto 0;
}

.travel-of-the-mth span {
  color: #2654e4;
}
.newsletter {
  background-color: #f1f5f5;
  padding: 200px 200px;
}

.newsletter span {
  color: #2654e4;
}

.newsletter h1 {
  color: #000;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 96px; /* 150% */
}
.hero-text {
  color: #000;
  text-align: center;
  font-family: "Inter";
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 96px; /* 150% */
}

.hero-text span {
  color: #2654e4;
  display: block;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 96px;
}
.img-cont {
  position: relative;
  width: 1276px;
  height: 403px;

  border-radius: 400px;
}
.sky-bg {
  border-radius: 400px;
  width: 100%;
  max-width: 1150px;
  height: 90%;
  display: block;
  margin: auto;
}
.plane {
  position: absolute;
  top: -130px;
  left: 0;
}

.confidence {
  display: flex;
  /* padding: 110px 100px 110.164px 100px; */
  justify-content: center;
  align-items: center;
  border: 5px solid green;
}

hr {
  background-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  /* border: none; */
  width: 100%;
}

.travel-plane-cont {
  /* width: 50%; */
  max-width: 600px;
  width: 100%;
  min-height: 600px;
  position: relative;
}
.travel-text-cont {
  /* width: 50%; */
  margin: 80px auto;
}

.travel-img {
  width: 286.567px;
  height: 447.761px;
  /* flex-shrink: 0; */
}

.travel-img-one {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.travel-img-two {
  position: absolute;
  top: 150px;
  left: -15px;

  z-index: 80;
}
.travel-img-three {
  position: absolute;
  top: 150px;
  right: -15px;
}
.travel-supp {
  margin: 0 auto 60px;
}

.travel-supp h4 {
  color: #000;
  font-family: "Inter";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px; /* 150% */
}
.travel-supp p {
  color: #808080;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.reasons {
  width: 80px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-items: center;
  color: #fff;
  font-family: "Inter";
  border-radius: 200px;
  justify-content: center;
  font-size: 1.4rem;
}

.memories {
  font-family: "Inter";
  background-color: #f1f5f5;
}

.memories h1 {
  color: #000;
  font-family: "Inter";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 96px; /* 150% */
}

.memories span {
  color: #2654e4;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 96px;
}

.memories .cards {
  display: flex;
  max-width: 387px;
  width: 100%;
  height: 520px;
  padding: 0px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 200px;
  background: #fff;
}

.memories h5 {
  color: #000;
  text-align: center;

  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px; /* 150% */
}

.cont-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  padding: 60px 0;
}

.nav-link {
  text-decoration: none;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 200px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.cards h5 {
  color: #000;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px; /* 150% */
}
.cards p {
  color: #808080;

  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.contact-btn {
  display: flex;
  height: 56px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid transparent;
  background: #2654e4;
  color: #fff;
}

.flight-class-levels li {
  cursor: pointer;
}

.flight-class-levels li:hover {
  background-color: black;
  border: 1px solid transparent;
  border-radius: 200px;
  color: #fff;
}

.image-cont-3 {
  position: relative;
  min-width: 500px;
  width: 100%;
}

article .smallImg {
  width: 286.567px;
  height: 402.985px;
  flex-shrink: 0;
  border-radius: 268.657px;
  position: absolute;

  left: 250px;
  bottom: -4px;
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.26); */
}

/* youtube shortcut for image */
article .biggerImg {
  width: 392px;
  height: 613px;

  border-radius: 268.657px;
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.26); */
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 40px; /* Adjust the gap between grid items */
}

.grid2 {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); Two columns with equal width */
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 40px; /* Adjust the gap between grid items */
}

.tickets {
  border: 1px solid black;
  margin: 20px 8px;
  padding: 20px;
  width: 100%;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.lounge h2 {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 96px; /* 150% */
}

.lounge li h4 {
  color: #000;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
}

.lounge li p {
  color: #808080;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.lounge span {
  color: #2654e4;
}

.travel-supp h3 {
  color: #000;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 112.5% */
}

.travel-supp h6 {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 180% */
}

.hero_sub_sub-text {
  color: #808080;
  font-family: Inter;
  font-size: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 180% */
}
.menu-btn {
  display: none;
}
.nav__menu {
  display: flex;
  justify-content: space-evenly;
  z-index: 89;
  width: 100%;
}

.show {
  display: none;
}
.black-bg {
  color: white;
  background-color: #000;
}
nav li {
  padding: 0 20px;
}

aside {
  display: flex;
  justify-content: space-evenly;
  padding-inline-end: 10px;
}
.margin-l {
  margin-left: auto;
}

.navMenu {
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.grid-cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 2fr));
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
}

.flight-data {
  margin: auto 10px;
}

.flight-data li {
  display: block;
  padding: 20px 30px;
  text-align: left;
  border: 1px solid;
}

.b {
  font-weight: bold;
  font-size: 13px;
  padding-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .logistics-table {
    width: 100%;
    padding: 40px 10px;
    max-width: 500px;
    min-width: 300px;
  }

  .flight-location {
    width: 300px;
  }

  .flight-class-levels li {
    cursor: pointer;
    /* padding: 0; */
  }

  .bestTravel {
    box-shadow: none;
  }

  .traveling-cont {
    flex-wrap: nowrap; /* Prevent wrapping of flex items */
    overflow-x: auto; /* Allow horizontal scrolling */
    -webkit-overflow-scrolling: touch;
  }

  .grid-cont {
    display: grid;
    grid-template-columns: 290px 290px 290px 290px;

    /* grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */
    grid-template-rows: unset;
    grid-gap: 35px;
  }

  .chooseFlight-table {
    width: 100%;
    padding: 40px 10px;
    max-width: 300px;
    min-width: 300px;
  }
  .contact-btn {
    display: flex;

    margin: 0;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #2654e4;

    color: #fff;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
  }

  .white {
    color: #fff;
  }

  .search-cont {
    background-color: #2654e4;
    border: 1px solid transparent;
    margin: 10px auto;
    border-radius: 69px;
    height: 100%;
    align-items: center;
    padding: 10px 10px;
    justify-content: center;
    width: 100%;
    color: #fff;
    display: flex;
  }

  .hide {
    display: none;
  }
  .social-m-icons {
    margin: 30px auto;
  }

  .newsletter {
    padding: 10px;
  }
  .container {
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    margin: 0 auto;
  }

  .navMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    width: 100%;
  }

  footer .p2 {
    width: 100%;
  }
  .navMenu li {
    padding: 4px;
  }

  .hero-text span,
  .hero-text,
  .travel-supp h3 {
    font-size: 40px;
    line-height: normal;
    margin-bottom: 20px;
  }

  .lounge h2,
  .memories h1,
  .memories span {
    font-size: 35px;
    line-height: normal;
    margin-bottom: 20px;
  }

  .memories h1,
  .memories span {
    padding-top: 20px;
  }

  .cont-cards {
    flex-direction: column;
  }

  .collapse-nav {
    display: none;
  }

  .marginal {
    margin-left: auto;
  }
  .marginal-right {
    margin-right: auto;
  }

  .menu-btn {
    display: block;
    width: 29px;
    align-self: flex-end;
    margin: 0 20px;
    transform: scaleX(-1);
  }

  .nav__menu {
    display: block;
    align-self: flex-start;
    padding: 50px 0 50px;
    /* margin: auto 20px; */
    backdrop-filter: blur(100px);
    background-color: var(--Grey-75);
    color: black;
    width: 100%;
    position: absolute;
  }

  .menu-btn {
    z-index: 99;
  }
  .flex {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  nav li {
    padding: 7px 20px;
    font-size: 20px;
    margin: 6px auto;
    font-weight: lighter;
    color: inherit;
  }

  nav li:hover {
    color: #2654e4;
  }
  .newsletter h1 {
    font-size: 19px;
    padding: 30px;
  }

  .biggerImg {
    width: 280px;
  }

  .smallImg {
    width: 180px;
  }

  .flight-location li {
    padding: 2px;

    margin: 10px auto 0;
  }

  .flight-data li {
    width: 100%;
    max-width: 220px;
  }

  .flex-all-the-way li {
    width: 100%;
  }
  .flex-all-the-way {
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
  }
}

/* responsive  */
@media screen and (max-width: 992px) {
  .container {
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    margin: 0 auto;
  }

  .nav li {
    padding: 7px 20px;
    font-size: 20px;
    font-weight: lighter;
    margin: 6px auto;
  }

  aside {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
  }
  .contact-btn {
    display: flex;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #2654e4;
    background-color: transparent;
    font-size: 14px;
    color: black;
  }

  .show {
    display: block;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    z-index: 99;
  }
  .hide {
    display: none;
  }

  .social-m-icons {
    margin: 30px auto;
  }
  .newsletter {
    padding: 10px;
    width: 100%;
  }

  .newsletter h1 {
    font-size: 19px;
    padding: 30px;
    line-height: normal;
  }
  .collapse-nav {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .flex {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .img-cont {
    position: relative;
    width: 100%;
    height: 100%;

    border-radius: 400px;
  }

  .sky-bg {
    width: 100%;
    margin: 0 auto;
  }

  .plane {
    position: absolute;
    top: 10px;
    width: 100%;
  }

  .logistics-table {
    width: 100%;
    padding: 40px 10px;
    max-width: 900px;
  }

  .chooseFlight-table {
    width: 100%;
    padding: 40px 10px;
    max-width: 500px;
  }
  .flight-class-levels {
    display: flex;

    margin: 0 auto;
  }
  .flight-location {
    display: flex;

    margin: 0 auto;
  }
  .flight-location li {
    padding: 2px;
    margin: 10px auto 0;
  }
  .travellers-textbx {
    margin: 0 auto;
  }

  .search-cont {
    font-size: 18px;
  }

  .flight-data li {
    width: 100%;
    max-width: 300px;
  }
}

/* fetching api over here man at work park over there */

.black {
  color: black;
}

/* end */
